@import "tailwindcss";

@plugin '@tailwindcss/forms';

/* Use static option to always get all the colors */
@theme static {
    --font-sans:
        Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-frontend:
        "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "Ranchers", Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-lato: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-cursive: "Life Savers", Helvetica Neue, Helvetica, Arial, sans-serif;
    --color-hybay-pink: #ff4a93;
    --color-hybay-light-pink: #ff9cc3;
    --color-hybay-dark-pink: #ab3262;
    --color-hybay-blue: #14accc;
    --color-hybay-dark-blue: #077187;
    --color-hybay-light-blue: #0cc6ed;
    --color-hybay-purple: #e843db;
    --color-hybay-dark-purple: darken($hybay-purple, 20%);
    --color-hybay-light-purple: lighten($hybay-purple, 20%);
    --color-hybay-violet: #e594ff;
    --color-hybay-dark-violet: darken($hybay-violet, 20%);
    --color-hybay-light-violet: lighten($hybay-violet, 20%);
    --color-hybay-red: #e83e38;
    --color-hybay-dark-red: darken($hybay-red, 20%);
    --color-hybay-light-red: lighten($hybay-red, 20%);
    --color-hybay-deep-orange: #ff613d;
    --color-hybay-dark-deep-orange: darken($hybay-deep-orange, 20%);
    --color-hybay-light-deep-orange: lighten($hybay-deep-orange, 20%);
    --color-hybay-dark-green: #00b20a;
    --color-hybay-dark-dark-green: darken($hybay-dark-green, 20%);
    --color-hybay-light-dark-green: lighten($hybay-dark-green, 20%);
    --color-hybay-mint-green: #0abfa0;
    --color-hybay-dark-mint-green: darken($hybay-mint-green, 20%);
    --color-hybay-light-mint-green: lighten($hybay-mint-green, 20%);
}

@theme inline static {
    /* Selected color - the indirection is needed for overrides to work! */
    --color-hybay-primary: var(--color-hybay-pink);
    --color-hybay-dark: var(--color-hybay-dark-pink);
    --color-hybay-light: var(--color-hybay-light-pink);
    --color-primary: var(--color-hybay-primary);
    --color-dark: var(--color-hybay-dark);
    --color-light: var(--color-hybay-light);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}
