// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

$lato:              'Lato', $sans-serif;
$cursive-font: 'Life Savers', $sans-serif;
$block-font: 'Ranchers', $sans-serif;