/*
 * HYBAY COLOURS
 */

$hybay-pink: #FF4A93;
$hybay-light-pink: #FF9CC3;
$hybay-dark-pink: #AB3262;
$hybay-blue: #14ACCC; // This is a triad from the pink
$hybay-dark-blue: #077187;
$hybay-light-blue: #0CC6ED;
$hybay-purple: #E843DB;
$hybay-dark-purple: darken($hybay-purple, 20%);
$hybay-light-purple: lighten($hybay-purple, 20%);
$hybay-violet: #E594FF;
$hybay-dark-violet: darken($hybay-violet, 20%);
$hybay-light-violet: lighten($hybay-violet, 20%);
$hybay-red: #E83E38;
$hybay-dark-red: darken($hybay-red, 20%);
$hybay-light-red: lighten($hybay-red, 20%);
$hybay-deep-orange: #FF613D;
$hybay-dark-deep-orange: darken($hybay-deep-orange, 20%);
$hybay-light-deep-orange: lighten($hybay-deep-orange, 20%);
$hybay-dark-green: #00B20A;
$hybay-dark-dark-green: darken($hybay-dark-green, 20%);
$hybay-light-dark-green: lighten($hybay-dark-green, 20%);
$hybay-mint-green: #0ABFA0;
$hybay-dark-mint-green: darken($hybay-mint-green, 20%);
$hybay-light-mint-green: lighten($hybay-mint-green, 20%);
/*
Other colours that are good/analogous:
#E843DB - purple
#E594FF - violet
#E83E38 - red
#FF613D - dark orange
#00B20A - dark green
#0ABFA0 - mint green
*/
$hybay-colors: (
        hybay-pink: $hybay-pink,
        hybay-blue: $hybay-blue,
        hybay-purple: $hybay-purple,
        hybay-violet: $hybay-violet,
        hybay-red: $hybay-red,
        hybay-deep-orange: $hybay-deep-orange,
        hybay-dark-green: $hybay-dark-green,
        hybay-mint-green: $hybay-mint-green );
$hybay-dark-colors: (
        hybay-pink: $hybay-dark-pink,
        hybay-blue: $hybay-dark-blue,
        hybay-purple: $hybay-dark-purple,
        hybay-violet: $hybay-dark-violet,
        hybay-red: $hybay-dark-red,
        hybay-deep-orange: $hybay-dark-deep-orange,
        hybay-dark-green: $hybay-dark-dark-green,
        hybay-mint-green: $hybay-dark-mint-green );
$hybay-light-colors: (
        hybay-pink: $hybay-light-pink,
        hybay-blue: $hybay-light-blue,
        hybay-purple: $hybay-light-purple,
        hybay-violet: $hybay-light-violet,
        hybay-red: $hybay-light-red,
        hybay-deep-orange: $hybay-light-deep-orange,
        hybay-dark-green: $hybay-dark-dark-green,
        hybay-mint-green: $hybay-dark-mint-green );

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #333333;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        $hybay-pink;
$link-hover:        $hybay-light-pink;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

// Now override Bootstrap colours
$brand-primary: $hybay-pink;
$navbar-default-brand-color: $hybay-pink;

$font-family-base: $cursive-font;
$headings-font-family: $block-font;
$font-size-base: 16px;

$input-color: $black;